<section>
  <form>
    <div class="input-group">
      <p>
        <label for="initialInvestment">Initial Investment</label>
        <input type="number" id="initialInvestment" [(ngModel)]="initialInvestment" name="investmentAmount" required>
      </p>
      <p>
        <label for="annualInvestment">Annual Investment</label>
        <input type="number" id="annualInvestment" [(ngModel)]="annualInvestment" name="annualInvestment" required>
      </p>
    </div>
    <div class="input-group">
      <p>
        <label for="expectedReturn">Expected Return</label>
        <input type="number" id="expectedReturn" [(ngModel)]="expectedReturn" name="expectedReturn" required>
      </p>
      <p>
        <label for="duration">Duration</label>
        <input type="number" id="duration" [(ngModel)]="duration" name="duration" required>
      </p>
    </div>
    <button type="submit" (click)="calculate()">Calculate</button>
  </form>
</section>